# Backend environment variables (FastAPI)
# Instructions: Copy to an .env file and fill in values

# Supabase - start supabase locally with `supabase start` to get these values for your local dev:
SUPABASE_URL= # API URL
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
